.item-button {
  font-size: 15px;
  padding: 6px;
  width: 130px;
  border: none;
  color: #e5e5e5;
  background: #4d6d88;
  margin: 3.5px; }

button:hover {
  background: #6893b8;
  cursor: pointer; }

.active {
  background-color: #6893b8; }
