.card {
  margin: 4px;
  background: black;
  width: 360px;
  height: auto;
  padding: 17px;
  padding-bottom: 15px;
  font-weight: 100;
  font-size: 17px;
  color: #e5e5e5;

  background: linear-gradient(182deg, #596980, #916386, #916a75, #568f84);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:50% 0%}
      50%{background-position:51% 100%}
      100%{background-position:50% 0%}
  }
}

.card-background{
  background: black;
  opacity: .5;
}

.favorited {
  border: 2px solid magenta;
}

.info-title {
  font-weight: bold;
}

button {
  color: #fff;
  background-color: #000;
  width: 20px;
  border: none;
  padding: 2px;
}
