
@import './Components/App/App.css';
@import './Components/Button/button-styles.css';
@import './Components/ButtonContainer/button-container-styles.css';
@import './Components/Card/card-styles.css';
@import './Components/CardContainer/card-container-styles.css';
@import './Components/Scroll/scroll-styles.css';


* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
}
